body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 20px;
  }
  
  .ant-btn-link {
    padding: 0px;
  }
  
  .ant-typography {
    white-space: pre-wrap;
  }
  
  .ant-select-show-search.ant-select:not(.ant-select-customize-input)
    .ant-select-selector {
    height: auto;
  }
  .ant-select-single.ant-select-show-arrow .ant-select-selection-item {
    white-space: normal;
    word-break: break-all;
    line-height: 18px;
    margin-top: 4px;
    margin-bottom: 4px;
  }